<mat-toolbar class="navbar" color="primary">
  <h1 class="navbar-brand">Recipe Book</h1>
  <nav class="navbar-links" mat-tab-nav-bar [backgroundColor]="background">
    <a
      mat-tab-link
      *ngFor="let item of routerLinks"
      (click)="activeLink = item.label"
      [routerLink]="item.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ item.label }}
    </a>
  </nav>
  <form class="navbar-form">
    <mat-form-field class="navbar-full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="search"
        required
      />
      <mat-error *ngIf="search.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <button mat-mini-fab color="accent" class="navbar-form-button">
      <mat-icon aria-hidden="false" aria-label="home icon"
        >find_replace</mat-icon
      >
    </button>
  </form>
  <button class="navbar-user" mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >account_circle</mat-icon
    ><mat-icon aria-hidden="false" aria-label="Example home icon"
      >expand_more</mat-icon
    >
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >cached</mat-icon
      >Get Recipes
    </button>
    <button mat-menu-item>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >save_alt</mat-icon
      >Save Recipes
    </button>
  </mat-menu>
</mat-toolbar>
