<mat-toolbar fxLayout="column" color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <h1 routerLink="/">Recipe Book</h1>
    <span fxFlex></span>
    <nav
      flex-item
      fxFlexAlign="center"
      mat-tab-nav-bar
      [backgroundColor]="background"
      fxHide.lt-md="true"
    >
      <a
        mat-tab-link
        *ngFor="let item of routerLinks"
        (click)="activeLink = item.label"
        [routerLink]="item.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ item.label }}
      </a>
    </nav>
    <span fxFlex></span>
    <button
      flex-item
      fxFlex="3"
      mat-button
      [matMenuTriggerFor]="beforeMenu"
      aria-label="User Menu"
    >
      <mat-icon>account_circle</mat-icon><mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Get Recipes">cached</mat-icon
        >Get Recipes
      </button>
      <button mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Save Recipes"
          >save_alt</mat-icon
        >Save Recipes
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row
    fxLayout="row"
    fxLayoutAlign="center center"
    fxHide.gt-sm="true"
  >
    <nav
      flex-item
      fxFlexAlign="center"
      mat-tab-nav-bar
      [backgroundColor]="background"
      fxShow.st-md="true"
    >
      <a
        mat-tab-link
        *ngFor="let item of routerLinks"
        (click)="activeLink = item.label"
        [routerLink]="item.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ item.label }}
      </a>
    </nav></mat-toolbar-row
  >
</mat-toolbar>
