.mat-raised-button {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mat-divider {
    max-width: 98vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
