.card {
    max-width: 400px;
    margin-bottom: 1em;
    &:focus {
        outline: none;
    }
    & mat-card-header {
        margin-bottom: 1em;
        & mat-card-header-text {
            margin: auto 16px;
        }
    }
    &-image {
        height: 300px;
    }
}
